version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: invoice-management-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
    extra_hosts:
      - "host.docker.internal:host-gateway"
